<!--The content below is only a placeholder and can be replaced.-->
<mat-card>
    <mat-card-title>Client</mat-card-title>
    <mat-divider></mat-divider>
    <br>
    <mat-form-field class="example-full-width">
        <input matInput placeholder="Work Location" aria-label="Address" [matAutocomplete]="auto" [formControl]="addressCtrl">
        <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let address of filteredAddress | async" [value]="address.name">
                <span>{{address.name}}</span>
            </mat-option>
            <mat-option (click)="openAddressDialog()">+ Add Address</mat-option>
        </mat-autocomplete>
    </mat-form-field>
</mat-card>
<div>
    <agm-map [latitude]="lat" [longitude]="lng" [mapTypeId]="viewType" (mapClick)="onChoseLocation($event)" [zoom]="zoom">
        <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
    </agm-map>
    <div style="float:left ;">
        <button mat-raised-button (click)="capture()" color="primary">Capture</button>
    </div>
    <div style="float:right;">
        <button mat-raised-button (click)="tarrain()" color="primary">Tarrain</button>
        <button mat-raised-button (click)="satellite()" color="primary">Satellite</button>
        <button mat-raised-button (click)="road()" color="primary">Road Map</button>
    </div>

</div>


<router-outlet></router-outlet>